
* {
    margin: 0;
    padding: 0;
}



body {
    background-color: rgb(236, 192, 222);
    font-size: 24px;
    height: 100px ;
   

}

header{

    padding-bottom: 3rem;
    padding-top: 3rem;
    background-color: slategray;
}
.sidebar-sidebarleft {
    padding:20px;
    border:2px solid black;
    width:180px;

}

.sidebar-sidebarright{
    padding:20px;
    border:2px solid black;
    width: 180px;
}
.main{
    padding:15px;
    border:2px solid orange;


}

.footer{
    padding-top: 3rem;
    padding-bottom:3rem;
    border:2px solid purple;

}

.flex-container {
        background-color: rgb(16, 134, 163);
        display:flex;
        
       
        }

        @media only screen and (max-width: 650px ){

.flex-container{

    display:flex;
    flex-direction:column;
    
}
        }
    